$cellWidth: 64px;
$cellHeight: 64px;
$figureWidth: calc($cellWidth * 0.95);
$figureHeight: calc($cellHeight * 0.95);
$boardWidth: calc($cellWidth * 8);
$boardHeight: calc($cellHeight * 8);

* {
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: $boardWidth;
    height: $boardHeight;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cell {
    width: $cellWidth;
    height: $cellHeight;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: $figureWidth;
        height: $figureHeight;
        position: relative;
    }

    &.black {
        background-color: rgb(42, 115, 124);

        &:hover {
            opacity: 0.8;
        }
    }
    
    &.white {
        background-color: rgb(151, 217, 226);

        &:hover {
            opacity: 0.8;
        }
    }

    &.selected {
        filter: grayscale(0.5) opacity(0.9);
    }
}

