$cellWidth: 64px;
$cellHeight: 64px;
$figureWidth: calc($cellWidth * 0.95);
$figureHeight: calc($cellHeight * 0.95);
$boardWidth: calc($cellWidth * 8);
$boardHeight: calc($cellHeight * 8);
$backgroundImage1: image-url('/./src/assets/bk.png');
$backgroundImage2: url('~assets/bk.png');
$backgroundImage3: red;
$backgroundImage4: url('~src/assets/bg01.jpg');

@mixin selectBlock {
    background-color: rgb(73, 182, 182);
    opacity: 0.8;
    outline: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
}

.tooltip {
    display: flex;
    align-items: center;

    button {
        padding: 16px;
        margin: 10px;
        background-color: white;
        border: 1px solid black;
    }
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $backgroundImage4;
}

.board {
    width: $boardWidth;
    height: $boardHeight;
    display: flex;
    flex-wrap: wrap;
    border: 8px solid black;
}

.cell {
    width: $cellWidth;
    height: $cellHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    img {
        width: $figureWidth;
        height: $figureHeight;
        position: relative;
    }

    &.black {
        background-color: rgb(46, 106, 114);

        &:hover {
            @include selectBlock()
        }
    }
    
    &.white {
        background-color: rgb(187, 217, 221);

        &:hover {
            @include selectBlock()
        }
    }

    &.selected {
        @include selectBlock()
    }

    &.available_figure {
        background-color: rgb(219, 115, 84);
        outline: 1px solid black;
    }

    .available {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: rgb(75, 175, 189);
    }

     
}

